html {
	background: url(images/bg2.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	font-family: 'PT Sans', sans-serif;
  	/*I don't know why this works.
  	I need to figure it out so I 
  	can master this skill.*/
}

body {
	width: 100%;
}

.summary {
	background-color: rgba(123, 121, 130, 0.5);
	color: white;
}