/*http://paletton.com/#uid=33I0u0kbscs00vD5uk+qWaQ+xbR*/

html {
	background: url(images/bg2.jpg) no-repeat center center fixed;
  	background-size: cover;
  	font-family: 'PT Sans', sans-serif;
  	/*I don't know why this works.
  	I need to figure it out so I 
  	can master this skill.*/
}

body {
	width: 100%;
}

.container {
  width: 40%;
  padding: 15px;
  display: flex;
}

.summary {
	background-color: rgba(123, 121, 130, 0.5);
	color: white;
}

.button-links {
  width: auto;
  display: inline-block;
  float: right;
  margin: 55px 0px;
  font-size: 1.7rem;
}